.searchbar {
  height: 63px;
  flex: 1;
  border-radius: 50px;
  align-items: center;
  display: flex;
}
.headerItem{
display:flex;
color: white;
direction: ltr !important;
}
.headerItem>p{
    margin: 10px;
}
.headerAction{
    display: flex;
    /* background-color:crimson; */
}

